<div
  class="relative mx-2 mb-2 mt-2 flex min-w-fit flex-row items-center justify-between gap-2"
>
  <button
    (click)="callbackFunction()"
    class="transition-border group peer relative flex h-20 w-20 items-center justify-center rounded-[44px] bg-gray-dark duration-150 ease-linear hover:rounded-3xl"
  >
    <ng-icon
      name="{{ iconName }}"
      class="text-green-600 shadow-xl transition-all duration-150 ease-linear group-hover:text-white"
      size="30"
    ></ng-icon>
  </button>
  <span
    class="absolute left-24 z-10 m-2 mr-0 min-w-max origin-left scale-0 rounded-md bg-gray-dark p-2 text-xs font-bold text-white shadow-md transition-all duration-150 peer-hover:scale-100"
    >{{ tooltipText }}</span
  >
</div>
