<div
  class="fixed left-0 top-0 z-0 flex h-screen w-24 flex-col bg-gray-darkest pt-4 shadow-xl"
>
  <app-sidebar-button iconName="lucideAperture" />
  <app-sidebar-button iconName="lucideBookOpen" />
  <app-sidebar-button iconName="lucideActivity" />
  <app-sidebar-button iconName="lucideCalendarDays" />

  <div class="fixed bottom-0 flex w-24 flex-col overflow-visible">
    <hr class="w-auto" />
    <app-sidebar-button iconName="lucideSettings" tooltipText="Settings" />
    <app-sidebar-button iconName="lucidePlus" tooltipText="Add a random icon" />
  </div>
</div>
