<div
  class="fixed left-0 top-0 z-0 flex h-screen w-24 flex-col bg-gray-darkest pt-4 shadow-xl"
>
  <!-- Require an extra div with large width due to overflow-x and overflow-y interactions-->
  <div
    #scrollcontainer
    (scroll)="updateOverflow()"
    class="scrollbar-none h-auto w-96 overflow-y-scroll"
  >
    <div class="flex flex-col gap-2 overflow-x-visible">
      <app-sidebar-button
        *ngFor="let button of buttonList"
        iconName="{{ button }}"
      />
    </div>
  </div>

  <div class="z-10 mb-0 mt-auto flex w-24 shrink flex-col justify-end">
    <hr class="{{ this.dividerStyleString }}" />
    <app-sidebar-button iconName="lucideSettings" tooltipText="Settings" />
    <app-sidebar-button
      iconName="lucidePlus"
      tooltipText="Add a random icon"
      [callbackFunction]="callbackFunc"
    />
  </div>
</div>
